@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
  font-family: var(--font-roboto);
}

.titillium {
  font-family: var(--font-titillium);
}

html {
  scroll-behavior: smooth;
}

.hidden {
  visibility: hidden;
}
